@charset "UTF-8";

body{

font:normal 15pt Arial;

background-color: rgb(25, 25, 112);
}

header{
    color: white;
    text-align: center;
    font: size 300 pt;;
    font-weight: bold;
    padding: 10px;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.316);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

.redonda{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}


div#res{
    text-align: center;
    margin: auto;
    padding: 10px;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .num{
    margin-left: 15px;
  }

  #txtn2{
    margin-left: 28px;
  }

  #txtn3{
    margin-left: 5px;
  }
  